/.vscode
/build
/assets/*
!/assets/audio/
!/assets/audio/**
!/assets/game_sfx.h
!/assets/music_game_vadpcm.h
!/assets/music_title_vadpcm.h
/assets/audio/sfx/*.wav
/assets/audio/**/*.o
/mine64-audio.out
/mine64.out
__pycache__/
*.sh
!toolchain/
!toolchain/spicy-ld.sh
!tools/resolve_freeze.sh
!tools/emu/build.sh
!tools/emu/run.sh
/tools/emu/*.dylib
.wrangler/
node_modules/
